body {
  font-family: "ArialRegular";
  background-color: #fff;
}

.h2 {
  text-transform: uppercase;
  font-family: "ArialBlack" Helvetica sans-serif;
  font-size: 15px;
  color: black;
  background-color: transparent;
  font-weight: 800;
  padding-bottom: 14px;
  padding-top: 14px;
}

.h2::after {
  content: "";
  clear: both;
}

.main-container {
  width: 100%;
  overflow: hidden;
  min-width: 1000px;
}

.top {
  background-color: #e8ebf1;
}
.top .logo-container {
  width: 1000px;
  height: 120px;
  margin: 0 auto;
}

.logo {
  margin-top: 29px;
  position: relative;
  float: left;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  font-family: "Lato" "Roboto" sans-serif;
}
.logo .bislit:first-child {
  font-weight: 900;
}
.logo .bislit:last-child {
  color: #2aacc8;
  font-weight: 400;
}

.nav {
  float: right;
}

.ul-menu {
  margin-top: 40px;
  font-family: "ArialBold";
  color: black;
  text-transform: uppercase;
  font-size: 0;
}
.ul-menu .li-menu {
  display: inline-block;
  position: relative;
  margin-right: 23px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 13px;
  line-height: 36px;
  color: black;
  border-top: 4px solid transparent;
}
.ul-menu .li-menu:last-child {
  margin-right: 4px;
}
.ul-menu .li-menu:hover {
  border-top: 4px solid #2aacc8;
  color: #2aacc8;
}
.ul-menu .link {
  color: black;
}
.ul-menu .link:hover {
  color: #2aacc8;
}

.li-menu {
  display: inline-block;
}
.li-menu .span-beaf::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -10px;
  display: inline-block;
  width: 16px;
  height: 10px;
  background-image: url("../images/down_arrow.png");
  background-repeat: no-repeat;
}

.dropdown {
  cursor: pointer;
}

.ul-submenu {
  position: absolute;
  left: 0;
  display: none;
  width: 200px;
  border-bottom: 4px solid #2aacc8;
  text-transform: none;
}

.dropdown:hover .ul-submenu {
  opacity: 1;
  display: block;
  background-color: #fff;
  transition: 1s;
}

.li-submenu .link {
  display: block;
  width: 94%;
  margin: 0 auto;
  padding-left: 16px;
  font-size: 13px;
  line-height: 3;
  border-bottom: 1px solid #2aacc8;
}

.li-submenu:last-child .link {
  border-bottom: transparent;
}

.li-submenu:hover .link {
  color: #2aacc8;
}

.header {
  width: 100%;
  background-color: #81e4ed;
  margin: 0 auto;
  padding: 20px;
  height: 500px;
}
.header .header-bg {
  width: 1000px;
  height: 442px;
  margin-top: 20px;
  background-color: #e05936;
  margin: 0 auto;
  background-image: url(../images/header/pop_up.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 1000px;
}
.header .header-bg2 {
  height: 442px;
  background-image: url(../images/header/coffee_cup.png);
  background-position-x: 420px;
  background-size: 21%;
  background-repeat: no-repeat;
}
.header .header-txt {
  width: 360px;
  padding-top: 94px;
  padding-left: 60px;
  font-size: 50px;
  font-family: "Lato";
  color: white;
  line-height: 1.2;
  font-weight: 800;
}
.header .header-buttons {
  width: 160px;
  margin: 0 auto;
  font-size: 0;
  padding-top: 10px;
}
.header .header-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #71a3a7;
  display: inline-block;
  margin: 0 8px;
  border: transparent;
}
.header .header-button:hover {
  background-color: #fff;
}

.midle {
  background-color: #e8ebf1;
}
.midle .container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 50px;
  font-size: 0;
}
.midle .midle-card {
  display: inline-block;
  max-width: 218px;
  margin-right: 42px;
  vertical-align: top;
  font-size: 13px;
}
.midle .midle-card:last-child {
  margin-right: 0;
}
.midle .h2 {
  color: black;
}
.midle .midle-card:nth-child(1) .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2aacc8;
  background-image: url("../images/midle_section/shape.png");
  background-repeat: no-repeat;
  background-position: center;
}
.midle .midle-card:nth-child(1) .h2:after {
  content: "";
  clear: both;
}
.midle .midle-card:nth-child(2) .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2aacc8;
  background-image: url("../images/midle_section/fullscreen.png");
  background-repeat: no-repeat;
  background-position: center;
}
.midle .midle-card:nth-child(2) .h2:after {
  content: "";
  clear: both;
}
.midle .midle-card:nth-child(3) .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2aacc8;
  background-image: url("../images/midle_section/viewlist.png");
  background-repeat: no-repeat;
  background-position: center;
}
.midle .midle-card:nth-child(3) .h2:after {
  content: "";
  clear: both;
}
.midle .midle-card:nth-child(4) .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2aacc8;
  background-image: url("../images/midle_section/plane.png");
  background-repeat: no-repeat;
  background-position: center;
}
.midle .midle-card:nth-child(4) .h2:after {
  content: "";
  clear: both;
}
.midle .midle-card-text {
  padding-top: 16px;
  font-size: 13px;
  font-family: "Arial";
  line-height: 1.5;
}
.midle .read-more {
  padding-top: 24px;
  color: #8abdce;
}
.midle .read-more::before {
  content: "";
  display: block;
  float: left;
  background-image: url("../images/midle_section/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.latest-works {
  background-color: #fff;
}
.latest-works .container {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #2aacc8;
}
.latest-works .wrapper {
  padding-top: 10px;
  border-bottom: 1px solid #2aacc8;
}
.latest-works .wrapper .h2 {
  float: left;
  padding-right: 8px;
  padding-bottom: 4px;
}
.latest-works .wrapper .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../images/latest_works/arrow_tilted.png");
  background-repeat: no-repeat;
  background-position: center;
}
.latest-works .wrapper .h2:after {
  content: "";
  clear: both;
}
.latest-works .wrapper .button {
  margin: 6px;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #81e4ed;
  background-repeat: no-repeat;
}
.latest-works .wrapper .button:hover {
  background-color: #e8ebf1;
}
.latest-works .wrapper .button:first-of-type {
  background-image: url("../images/arrow_right.png");
  background-position-x: 4px;
  background-position-y: 3px;
}
.latest-works .wrapper .button:last-of-type {
  background-image: url("../images/arrow_left.png");
  background-position-x: 3px;
  background-position-y: 3px;
}
.latest-works .latest-works-cards {
  font-size: 0;
  padding-top: 20px;
}
.latest-works .latest-works-cards .latest-works-card {
  width: 220px;
  display: inline-block;
  margin-right: 40px;
  position: relative;
  background-color: green;
}
.latest-works .latest-works-cards .latest-works-card .latest-works-card-menu {
  width: 100%;
  height: 50%;
  background-color: #2aacc8;
  position: absolute;
  top: 50%;
  opacity: 0;
  font-size: 0;
  padding: 15px 0 0 60px;
}
.latest-works .latest-works-cards .latest-works-card .latest-works-card-menu .link {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.latest-works .latest-works-cards .latest-works-card .latest-works-card-menu .link:first-child {
  background-image: url("../images/latest_works/preview.png");
  background-position: center;
  background-repeat: no-repeat;
}
.latest-works .latest-works-cards .latest-works-card .latest-works-card-menu .link:last-child {
  margin-left: 10px;
  background-image: url("../images/latest_works/link.png");
  background-position: center;
  background-repeat: no-repeat;
}
.latest-works .latest-works-cards .latest-works-card .latest-works-card-menu:hover {
  opacity: 1;
  transition: 0.8s;
}
.latest-works .latest-works-cards .latest-works-card:last-child {
  margin-right: 0;
}

.testimonials--clients {
  background-color: #fff;
}
.testimonials--clients .container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 40px;
}
.testimonials--clients .card {
  width: 480px;
}
.testimonials--clients .card:first-child {
  float: left;
}
.testimonials--clients .card:first-child .h2 {
  left: 50px;
}
.testimonials--clients .card:first-child .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../images/testimonials/comments.png");
  background-repeat: no-repeat;
  background-position: center;
}
.testimonials--clients .card:first-child .h2:after {
  content: "";
  clear: both;
}
.testimonials--clients .card:last-child {
  float: right;
}
.testimonials--clients .card:last-child .h2 {
  left: 50px;
}
.testimonials--clients .card:last-child .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../images/clients/clients.png");
  background-repeat: no-repeat;
  background-position: center;
}
.testimonials--clients .card:last-child .h2:after {
  content: "";
  clear: both;
}

.clients-wrapper {
  font-size: 0;
  width: 480px;
  min-width: 160px;
  float: right;
}
.clients-wrapper .img {
  display: inline-block;
  width: 160px;
}

.card .text {
  margin-right: 40px;
  font-size: 14px;
  font-family: "Arial";
  color: #363636;
  line-height: 1.75;
}
.card .sign {
  margin-top: 26px;
  font-family: "ArialBoldItalic";
  font-size: 14px;
  line-height: 1.7;
}

.download {
  background-color: #fff;
}
.download .container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #e8fcfe;
}
.download .text {
  float: left;
  width: 600px;
  line-height: 1.74;
}
.download .d-wrapper {
  width: 320px;
  float: right;
}
.download .link {
  display: block;
  margin: 0 auto;
  width: 244px;
  height: 64px;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: transparent;
  background-image: url("../images/download/button_download_psd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.download .link .h2 {
  font-size: 18px;
}
.download .link .h2:before {
  content: "";
  display: block;
  float: left;
  margin-top: -10px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../images/download/download.png");
  background-repeat: no-repeat;
  background-position: center;
}
.download .link .h2:after {
  content: "";
  clear: both;
}

.about {
  margin-top: 40px;
  background-color: #e8ebf1;
}
.about .container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  vertical-align: top;
  font-size: 14px;
}
.about .about-block {
  float: left;
}
.about .about-block .link {
  color: black;
}
.about .about-block:first-child {
  width: 300px;
  padding-right: 60px;
}
.about .about-block:first-child .text {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.5;
}
.about .about-block:nth-child(2) {
  width: 150px;
}
.about .about-block:nth-child(2) .link {
  line-height: 1.8;
}
.about .about-block:nth-child(3) {
  width: 170px;
}
.about .about-block:nth-child(3) .link {
  line-height: 1.8;
}
.about .about-block:nth-child(4) {
  width: 164px;
}
.about .about-block:nth-child(4) .text {
  padding-top: 8px;
}
.about .about-block:nth-child(4) .h3 {
  font-weight: 800;
}
.about .about-block:last-child {
  width: 216px;
  font-size: 0;
}
.about .about-block:last-child .h2 {
  margin-left: 32px;
}
.about .about-block:last-child .social {
  padding-top: 10px;
  display: inline-block;
  margin-left: 24px;
}

.footer {
  background-color: #e8ebf1;
}
.footer .container {
  width: 1400px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 28px;
  margin-bottom: 100px;
}
.footer .text {
  float: left;
  width: 660px;
  padding-top: 6px;
  font-size: 13px;
}
.footer .logo {
  margin-top: 0;
  float: right;
}

/*# sourceMappingURL=style.css.map */
